.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*  画像投稿ページ  */
#show-img {
  width: 300px;
}

#MyImg {
  display: none;
  visibility: hidden;
}

/* 服購入ページ */
#cloth-box {
  padding: 0.5em 1em;
  margin: 10px 10px 0 5px;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}
#cloth-image {
  width: 100px;
}
#cloth-detail-box {
  float: right;
  margin-right: 30px;
}
#cloth-name {
  font-size: 20px;
}
#cloth-price {
  font-size: 18px;
}
#buy-btn {
  margin-top: 7px;
}
#buy_animation {
  margin-left: 21px;
  font-size: 25px;
  font-weight: bold;
  color: darkorchid;
}

/* 購入履歴ページ */
#buy-cloth-box {
  padding: 0.5em 1em;
  margin: 10px 10px 0 5px;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #e06d0f;
  border-radius: 10px;
}


/* カメラでコーディネートAI判定ページ */
#camera {
  margin: 10px 5px 0 20px;
  border: solid 8px #6091d3;
  border-radius: 10px;
}
#picture {
  margin: 10px 5px 0 20px;
  border: solid 8px #6091d3;
  border-radius: 10px;
}
#btn-form{
  text-align: center;
}
#shutter {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  background: #668ad8;
  color: #FFF;
  border-radius: 10px;
  font-weight: bold;
  font-size: 25px;
}
#kekka {
  font-size: 25px;
  font-weight: bold;
}
#score {
  text-align: center;
  font-size: 45px;
  color: red;
  font-weight: bold;
}
#recommend-cord {
  font-size: 18px;
}
